<div id="image-container">
  <div class="banner">
    <div id="form-container">
      <form>
        <label for="fname">Live New Experiences:</label><br>
        <input type="text" id="fname" name="fname"><br>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="cards">
  <%# <h1>Explore our experiences around you!</h1> %>
  <% @experiences.each do |experience| %>
      <%= link_to experience_path(experience) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= experience.name %>
          <p class="text"><%= experience.description %></p>
          <p id="price"><%= experience.price %></p>
        </div>
      <% end %>
  <% end %>
  </div>
</div>
